@using ScrapingDemo.Amazon
@model ScrapingDemo.Models.IndexViewModel

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/home/index">
            <input type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Search Amazon" class="form-control"/>
            <br />
            <button class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

@if (Model.Items != null)
{
    
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Is Prime</th>
        </tr>
        @foreach (AmazonItem item in Model.Items)
        {
            <tr>
                <td><img src="@item.ImageUrl" width="50"/></td>
                <td>
                    <a href="@item.Link" target="_blank">@item.Title</a>
                </td>
                <td>
                    $@item.Price
                </td>
                <td>
                    @if (item.IsPrime)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    }
                </td>
            </tr>
        }
    </table>


}